main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-bottom: 10px;
}

#game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
